<div class="page-products">
	<div class="forum__header"<TMPL_IF NAME='MenuImage1Path'> style="background-image: url('<TMPL_VAR NAME='MenuImage1Path'>')"</TMPL_IF>>
    	<div class="container">
            <ol class="breadcrumb white">
       			<TMPL_LOOP NAME='Navigation'>
          		<TMPL_UNLESS NAME='__LAST__'>
      			<li><a href="<TMPL_VAR NAME='PageURL' />"><TMPL_VAR NAME='Title' /></a></li>
          		</TMPL_UNLESS>
          		</TMPL_LOOP>
      		</ol>
            <div class="forum__header-content">
            	<div class="forum__header-content_text">
                	<div>
                  		<h1 class="header-section"><TMPL_VAR NAME="TitleH1" /></h1>
                  		<p><TMPL_VAR NAME="Description" /></p>
                	</div>
              	</div>
              	<div class="forum__header-content_info inline">
               		<div class="forum__header-content_info-header"><TMPL_VAR NAME='LNG_FormTitle'></div>
               		<form action="<TMPL_VAR NAME='PROJECT_PATH' />module/limited_orders/ajax_public.php"
						  onsubmit="fbq('track', 'Lead', {content_name:'ik_<TMPL_VAR NAME='StaticPath'>'}); yaCounter47132955.reachGoal('cunsultation_button');"
						  method="post" autocomplete="off" data-success="modal-order-success" data-error="modal-order-error">
				  		<div class="form-group">
				        	<input type="text" name="FirstName" required class="form-control" id="formName" value="">
				           	<label for="formName"><TMPL_VAR NAME='LNG_FormFirstName'></label>
				    	</div>
                        <div class="form-group">
                        <input type="text" name="Phone" required class="form-control form--phone" id="formPhone">
                        <label for="formPhone"><TMPL_VAR NAME='LNG_FormPhone'></label>
                        </div>
						<div class="form-group">
							<input type="text" name="DateTime" required class="form-control datetimepicker" id="formDateTime" value="" available-date-time="<TMPL_VAR NAME='AvailableDateTime' />" onfocus="blur();">
							<label for="formDateTime"><TMPL_VAR NAME='LNG_FormDateTime'></label>
						</div>
                     <TMPL_IF NAME='TemplateClass'>
                         <div class="form-group">
                             <input type="text" name="Phone" required class="form-control form--phone" id="formPhone">
                             <label for="formPhone"><TMPL_VAR NAME='LNG_FormPhone'></label>
                         </div>
                     </TMPL_IF>
                     <TMPL_IF NAME='TemplateUserWho'>
                         <div class="form-group custom-select">
                             <select class="form-control formWho" name="UserWho">
                                 <option value="parent" <TMPL_IF NAME='UserWho' VALUE="parent"> selected</TMPL_IF>><TMPL_VAR NAME="LNG_IParent" /></option>
                                 <option value="child" <TMPL_IF NAME='UserWho' VALUE="child"> selected</TMPL_IF>><TMPL_VAR NAME="LNG_IChild" /></option>
                             </select>
                             <label><TMPL_VAR NAME="LNG_WhoAreYou" /></label>
                         </div>
                     </TMPL_IF>
                     <TMPL_IF NAME='TemplateUserClassNumber'>
                         <div class="form-group custom-select">
                             <select class="form-control" name="ClassNumber">
                                 <option value="8" <TMPL_IF NAME='ClassNumber' VALUE="8"> selected</TMPL_IF>>8</option>
                                 <option value="9" <TMPL_IF NAME='ClassNumber' VALUE="9"> selected</TMPL_IF>>9</option>
                                 <option value="10" <TMPL_IF NAME='ClassNumber' VALUE="10"> selected</TMPL_IF>>10</option>
                                 <option value="11" <TMPL_IF NAME='ClassNumber' VALUE="11"> selected</TMPL_IF>>11</option>
                                 <option value="other" <TMPL_IF NAME='ClassNumber' VALUE="other"> selected</TMPL_IF>><TMPL_VAR NAME="LNG_Other" /></option>
                             </select>
                             <label><TMPL_VAR NAME="LNG_UserClass" /></label>
                         </div>
                     </TMPL_IF>
				       	<input type="submit" class="main-btn" value="<TMPL_VAR NAME='LNG_FormSubmit'>">
				       	<input type="hidden" name="PageID" value="<TMPL_VAR NAME='PageID'>">
				       	<input type="hidden" name="Action" value="NewOrder">
					</form>
              	</div>
			</div>


		</div>
        <div class="forum__header-color gradient-overlay"></div>
	</div>

    <TMPL_VAR NAME='Content' ESCAPE='none'>

    <div class="page-products__bottom">
    	<div class="container">
        	<div class="page-products__bottom-form inline">
        		<div class="page-products__bottom-header"><TMPL_VAR NAME='LNG_FormTitle'></div>
                <form action="<TMPL_VAR NAME='PROJECT_PATH' />module/limited_orders/ajax_public.php" method="post" autocomplete="off" data-success="modal-order-success" data-error="modal-order-error"
					  onsubmit="fbq('track', 'Lead', {content_name:'ik_<TMPL_VAR NAME='StaticPath'>'}); yaCounter47132955.reachGoal('cunsultation_button');">
			  		<div class="form-group">
			        	<input type="text" name="FirstName" required class="form-control" id="formName" value="">
			           	<label for="formName"><TMPL_VAR NAME='LNG_FormFirstName'></label>
			    	</div>
			       	<div class="form-group">
			           <input type="text" name="Phone" required class="form-control form--phone" id="formPhone">
			           <label for="formPhone"><TMPL_VAR NAME='LNG_FormPhone'></label>
			       	</div>
					<div class="form-group">
						<input type="text" name="DateTime" required class="form-control datetimepicker" id="formDateTime" value="" available-date-time="<TMPL_VAR NAME='AvailableDateTime' />" onfocus="blur();">
						<label for="formDateTime"><TMPL_VAR NAME='LNG_FormDateTime'></label>
					</div>
					<TMPL_IF NAME='TemplateUserWho'>
						<div class="form-group custom-select">
							<select class="form-control formWho" name="UserWho">
								<option value="parent" <TMPL_IF NAME='UserWho' VALUE="parent"> selected</TMPL_IF>><TMPL_VAR NAME="LNG_IParent" /></option>
								<option value="child" <TMPL_IF NAME='UserWho' VALUE="child"> selected</TMPL_IF>><TMPL_VAR NAME="LNG_IChild" /></option>
							</select>
							<label><TMPL_VAR NAME="LNG_WhoAreYou" /></label>
						</div>
					</TMPL_IF>
					<TMPL_IF NAME='TemplateUserClassNumber'>
						<div class="form-group custom-select">
							<select class="form-control" name="ClassNumber">
								<option value="8" <TMPL_IF NAME='ClassNumber' VALUE="8"> selected</TMPL_IF>>8</option>
								<option value="9" <TMPL_IF NAME='ClassNumber' VALUE="9"> selected</TMPL_IF>>9</option>
								<option value="10" <TMPL_IF NAME='ClassNumber' VALUE="10"> selected</TMPL_IF>>10</option>
								<option value="11" <TMPL_IF NAME='ClassNumber' VALUE="11"> selected</TMPL_IF>>11</option>
								<option value="other" <TMPL_IF NAME='ClassNumber' VALUE="other"> selected</TMPL_IF>><TMPL_VAR NAME="LNG_Other" /></option>
							</select>
							<label><TMPL_VAR NAME="LNG_UserClass" /></label>
						</div>
					</TMPL_IF>
			       	<input type="submit" class="main-btn" value="<TMPL_VAR NAME='LNG_FormSubmit'>">
			       	<input type="hidden" name="PageID" value="<TMPL_VAR NAME='PageID'>">
			       	<input type="hidden" name="Action" value="NewOrder">
				</form>
          		<div class="page-products__bottom-color"><span><TMPL_VAR NAME='LNG_Free'></span></div>      
        	</div>
		</div>
    </div>
    <div class="modal fade" id="modal-order-success" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	        	<div class="modal-body">
	        		<div class="message" align="center">
	        			<TMPL_VAR NAME='LNG_MessageSuccess'>
	        		</div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="modal-order-error" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	        	<div class="modal-body" align="center">
	        		<div class="message"></div>
	            </div>
	        </div>
	    </div>
	</div>
</div>