	<div class="content-aside">
        <div class="container page-registration">
            <div class="row">
            	<div class="col-xs-12">
            		<ol class="breadcrumb grey">
                        
                    </ol>
            	</div>
            	<div class="col-xs-12 register">
            		<div class="image"><img src="<TMPL_VAR NAME='PATH2MAIN'>img/heart.png" /></div>
            		<div class="text1"><TMPL_VAR NAME='TitleH1'></div>
            		<div class="text2"><TMPL_VAR NAME='Content' ESCAPE='none'></div>
            		<div class="seealso">
            			<p>А пока можете посмотреть</p>
            			<p>
            				<a href="<TMPL_VAR NAME='PROJECT_PATH'>events.html"><img src="<TMPL_VAR NAME='PATH2MAIN'>img/events.png" /><br/>Онлайн-трансляции</a>
            				<a href="<TMPL_VAR NAME='PROJECT_PATH'>profession.html"><img src="<TMPL_VAR NAME='PATH2MAIN'>img/profession.png" /><br/>Информацию о профессиях</a>
            				<a href="<TMPL_VAR NAME='PROJECT_PATH'>vuzi.html"><img src="<TMPL_VAR NAME='PATH2MAIN'>img/university.png" /><br/>Информацию о вузах</a>
            			</p>
            		</div>
            	</div>
            </div>
        </div>
    </div>