<div class="content-aside marathon">
	<div class="container">
		<div class="row">
			<div class="marathon-block float graduate-map-block max-width show-modal-signin">
				<div class="col-xs-12">
					<p>
						Профтест доступен только для зарегистрированных пользователей. Пожалуйста, пройдите <a data-dismiss="modal" data-toggle="modal" data-target="#modal-checkin" href="" data-redirect-default="<TMPL_VAR NAME='BaseURL'>">регистрацию</a> или выполните <a data-toggle="modal" data-target="#modal-signin" href="#" data-redirect="<TMPL_VAR NAME='BaseURL'>">вход</a>, если уже регистрировались ранее на нашем сайте.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
