<nav class="navbar navbar-default navbar-primary">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<TMPL_LOOP NAME='SectionList'>
					<li <TMPL_IF NAME='Selected'>class="active"</TMPL_IF>>
						<a href="<TMPL_VAR NAME='MODULE_URL'>&Section=<TMPL_VAR NAME='Section'>"><TMPL_VAR NAME='Title'></a>
					</li>
				</TMPL_LOOP>
			</ul>
		</div>
	</div>
</nav>
<section class="box">
	<ol class="breadcrumb primary">
		<TMPL_LOOP NAME='Navigation'>
			<li <TMPL_IF NAME='__LAST__'>class="active"</TMPL_IF>>
				<TMPL_IF NAME='__LAST__'><strong></TMPL_IF>
					<a href="<TMPL_VAR NAME='Link'>"><TMPL_IF NAME='__FIRST__'><i class="fa fa-home"></i></TMPL_IF><TMPL_VAR NAME='Title'></a>
				<TMPL_IF NAME='__LAST__'></strong></TMPL_IF>
			</li>
		</TMPL_LOOP>
	</ol>
</section>