<div class="content-aside marathon">
	<div class="container">
		<div class="row">
			<div class="marathon-block max-width quiz-block">
					<div class="status-bar-wrap info">
						<div class="status-bar">
							<ul class="stages-list horizontal left numeric scroll">
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li class="active"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
							</ul>
						</div>
						<div class="sub-title gray-text stages-info">
							<b>2895 человек</b>
							уже сделали это задание
						</div>
					</div>

					<div class="quiz">
						<div class="title">
							<h2>Выбор профессии</h2>
							<div class="xp">
								<span class="purple">+60XP</span>
							</div>
						</div>

						<div class="content">
							<p class="sub-title two-gray-text">Небольшой текст, который показывает пользователь зачем нужен этот блок и как его заполнить. Текст, который показывает пользователь зачем нужен этот блок и как его заполнить. Небольшой который показывает пользователь зачем нужен этот блок и как его заполнить. Текст, который показывает пользователь зачем нужен этот блок и как его заполнить.</p>
						</div>

						<div class="decision-wrap">
							<textarea name="" placeholder="Введите свой ответ"></textarea>
							<input type="file" name="decision_files" class="decision-files" multiple>
							<ul class="selected-list">
								<li class="item"><span class="name">Имя</span><span class="remove" data-remove="1"></span></li>
							</ul>
						</div>
				
						<div class="navigation no-border">
							<div class="left-col">
								<a href="#" class="sub-title blue-text">Пропустить</a>
							</div>
							<div class="right-col">
								<a href="#" id="attach-file-btn" class="sub-title blue-text paperclip icon">Прикрепить файл</a>
								<a href="?action=quiz&show=result" class="btn black">Ответить</a>
							</div>
						</div>
					</div>

					<div class="comment transparent">
						<h2>Комментарий преподавателя</h2>
						<div class="sub-title">Небольшой текст, который показывает пользователь зачем нужен этот блок и как его заполнить. Текст, который показывает пользователь зачем нужен этот блок и как его заполнить. Небольшой который показывает пользователь зачем нужен этот блок и как его заполнить. Текст, который показывает пользователь зачем нужен этот блок и как его заполнить.</div>
					</div>

					<div class="comment fill-bg">
						<h2>Твое задание на проверке</h2>
						<div class="sub-title">Я дам тебе знать, когда преподватель оставит свой комментарий!</div>
						<a href="?action=quiz&show=result" class="btn white">Следующее задание</a>
					</div>

					<div class="quiz">
						<h2 class="text-center">Ты - холерик!</h2>

						<div class="content">
							<ul class="character-list">
								<TMPL_LOOP NAME='Words'>
									<li class="<TMPL_VAR NAME='class'>"><TMPL_VAR NAME='word'></li>
								</TMPL_LOOP>
							</ul>					
						</div>

						<div class="navigation">
							<div class="left-col">
								<a href="#" class="sub-title blue-text prev icon">Вернуться назад</a>
							</div>
							<div class="right-col">
								<a href="?" id="next-answer-btn" class="btn black">Поделиться с друзьями <span class="btn-after-left">+10XP</span></a>
							</div>
						</div>
					</div>

	
					<hr>


					<div class="quiz">
						<div class="result-wrap">
							<div class="smile"><img src="<TMPL_VAR NAME='PATH2MAIN' />img/icons/marathon/smile.svg" alt=""></div>
							<div class="result">
								<div class="item col-sm-4">
									<h2>100% заданий</h2>
									<p class="sub-title gray-text">Ты выполнил</p>
								</div>
								<div class="item col-sm-4">
									<h2>+60 XP</h2>
									<p class="sub-title gray-text">Ты получил</p>
								</div>
								<div class="item col-sm-4">
									<h2>1235 человек</h2>
									<p class="sub-title gray-text">Ты определил</p>
								</div>
							</div>
							<a href="?" id="next-answer-btn" class="btn black">Поделиться с друзьями <span class="btn-after-left">+10XP</span></a>
							<a href="#" id="prev-answer-btn" class="sub-title blue-text prev icon">Вернуться назад</a>
						</div>
					</div>
					<div class="status-bar-wrap">
						<div class="status-bar">
							<ul class="stages-list horizontal left numeric scroll">
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li><span></span></li>
								<li class="active"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
								<li class="disabled"><span></span></li>
							</ul>
						</div>
					</div>

					<div class="quiz">
						<div class="title">
							<h2>Выбор профессии для себя и своих друзей</h2>
							<div class="xp">
								<span class="blue">+60XP</span>
							</div>
						</div>

						<div class="content">
							<p class="sub-title two-gray-text">Небольшой текст, который показывает пользователь зачем нужен этот блок и как его заполнить. Текст, который показывает пользователь зачем нужен этот блок и как его заполнить. Небольшой который показывает пользователь зачем нужен этот блок и как его заполнить. Текст, который показывает пользователь зачем нужен этот блок и как его заполнить.</p>

							<ul class="answer-list numeric">
								<li class="item" data-proffesion="1"> Юрист</li>
								<li class="item" data-proffesion="2"> Русский язык</li>
								<li class="item" data-proffesion="3"> Литература</li>
								<li class="item" data-proffesion="4"> Химия</li>
								<li class="item" data-proffesion="5"> Юрист</li>
								<li class="item" data-proffesion="6"> Юрист</li>
							</ul>					
						</div>

						<div class="navigation">
							<div class="left-col">
								<a href="#" id="prev-answer-btn" class="sub-title blue-text prev icon">Вернуться назад</a>
							</div>
							<div class="right-col for-list">
								<a href="?action=quiz&show=form" id="next-answer-btn" class="btn black disabled" disabled>следующее задание</a>
							</div>
						</div>
					</div>

				<form action="" class="hidden answer-form" id="answer-form">
					<input type="hidden" name="answers[]">
				</form>	
			</div>
		</div>
	</div>
</div>
