<div class="marathon marathon-block max-width step-block">
	<div class="social vk">
		<h2>Подпишитесь на Важные напоминания Вконтакте</h2>
		<div class="text">
			Вот и готова твоя личная страничка в нашем модуле! Скоро ты получишь свое первое задание. Самые свежие новости и оповещения будут приходить тебе в модуле. Для твоего удобства мы будем дублировать все крупные уведомления в нашей группе ВКонтакте. Подпишись на уведомление, чтобы ничего не пропустить.
		</div>
		<a href="https://vk.com/navigator.postuplenia" data-redirect="<TMPL_VAR NAME='StaticPath'>" class="btn social vk" target="__blank">Подписаться на уведомления Вконтакте</a>
	</div>
</div>