<div class="content-aside marathon">
	<div class="container">
		<div class="row">
			<div class="marathon-block float graduate-map-block max-width show-modal-signin">
				<div class="col-xs-12">
					<p>
						Марафон поступления доступен только для зарегистрированных пользователей. Пожалуйста, пройдите <a data-dismiss="modal" data-toggle="modal" data-target="#modal-checkin" href="" data-redirect-default="<TMPL_VAR NAME='PROJECT_PATH'>marathon/">регистрацию</a> или выполните <a data-toggle="modal" data-target="#modal-signin" href="#" data-redirect="<TMPL_VAR NAME='PROJECT_PATH'>marathon/">вход</a>, если уже регистрировались ранее на нашем сайте.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade <TMPL_IF NAME = 'NoneInfo'>user-info-modal<TMPL_ELSEIF NAME='SocialShow'>social-show</TMPL_IF>" id="modal-data" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<span class="col-xs-12">
							<span class="content">
								
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
