<div class="marathon-block max-width quiz-block complete-marathon">
	<a href="#" class="close-step-btn close-icon-bg modal-top"></a>
	<div class="result-wrap">
		<div class="smile"><img src="<TMPL_VAR NAME='PATH2MAIN'>img/icons/marathon/smile.svg" alt=""></div>
		<h2>Подравляем! Ты заполнил(а) все этапы Марафона.</h2>
		<div class="result">
			<div class="item">
				<p class="result-title">Теперь ты можешь скачать уникальную карту поступающего, созданную именно для тебя.</p>
				<a href="<TMPL_VAR NAME='PROJECT_PATH'>marathon?DownloadMap=1" target="_blank" id="download-map-btn" class="btn blue">Скачать карту</a>
				<p class="sub-title gray-text">Если тебе понравился и помог наш Марафон, расскажи о нем друзьям - принеси добро в мир. Удачи!</p>
			</div>
		</div>
	</div>
</div>