<div class="interactive-logo">
	<div class="title extra-bold text-uppercase">
		<span class="line first">Навигатор</span>
		<span class="line second">Поступления</span>
	</div>
</div>

<!-- <TMPL_IF NAME='InsideModule' VALUE='basetest'>
	<div class="interactive-logo basetest">
		<div class="text extra-bold">
			Хочешь пройти быстрый профтест? 
			<br>
			Зарегистрируйся или войди
		</div>
<TMPL_ELSE>
	<div class="interactive-logo">
		<div class="title extra-bold text-uppercase">
			<span class="line first">Навигатор</span>
			<span class="line second">Поступления</span>
		</div>
</TMPL_IF>

		<div class="logotype">
			<div class="square bottom"></div>
			<div class="circle"></div>
			<div class="square top"></div>
		</div>
	</div> -->