<div class="info sing-up">
	<div class="title h2 heavy">
		ЗАЧЕМ МНЕ РЕГИСТРАЦИЯ ?
	</div>

	<TMPL_IF NAME='InsideModule' VALUE='basetest'>
		<div class="content basetest">
			<TMPL_IF NAME='TestAfterText'>
				Осталось ещё немного... <br>
				Зарегистрируйся, чтобы получить результаты теста
			<TMPL_ELSE>
				Зарегистрируйся, чтобы пройти профтест
			</TMPL_IF>
		</div>
	<TMPL_ELSE>
		<div class="content bold">
			<p>
				Проведем вас через весь процесс поступления на основании ваших знаний и предпочтений
			</p>

			<p>
				Получите подробную информацию о вашей будущей профессии или о вузе в котором хотите учиться
			</p>

			<p>
				Следите за своими занятиями, записывайтесь на предстоящие мероприятия или смотрите онлайн записи прошедших вебинаров
			</p>
		</div>
	</TMPL_IF>
</div>