<div class="page-products__3block with-title">
	<p class="title color-gray h4 normal text-center">А пока вы можете пройти
		<a class="main-link" href="https://test.maximumtest.ru/?utm_source=propostuplenie&utm_medium=affiliate&utm_campaign=exhibition&utm_content=thankyoupage" target="_blank">профориентационный тест</a>
		от наших партнеров и получить его разбор на выставке:
	</p>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div><img alt="" src="/website/navigator/template//img/img-03.png" />
					<p>Узнать все о том, как выбрать будущую профессию.</p>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div><img alt="" src="/website/navigator/template//img/pr-002.png" />
					<p>Определить, насколько подходит направление, которое уже выбрано</p>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div><img alt="" src="/website/navigator/template//img/img-01.png" />
					<p>Проверить реальный уровень подготовки к ЕГЭ или ОГЭ&nbsp;и подтянуть знания</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">&nbsp;</div>

	<div class="col-md-4">
		<a class="main-btn" href="https://test.maximumtest.ru/?utm_source=propostuplenie&utm_medium=affiliate&utm_campaign=exhibition&utm_content=thankyoupage" target="_blank">Пройти</a>
	</div>

	<div class="col-md-4">&nbsp;</div>
</div>
