<div class="page-products__3block with-title">
	<p class="title color-gray h4 normal text-center">
		А пока можете получить <a href="https://propostuplenie.ru/consultation/?utm_source=propostuplenie&utm_medium=exhibition&utm_campaign=thankyou" class="main-link">бесплатную консультацию</a> по профориентации <b>в учебном центре MAXIMUM</b>:
	</p>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div><img alt="" src="<TMPL_VAR NAME='PATH2MAIN'>/img/img-03.png">
                    <p>Узнать все о том, как выбрать будущую профессию.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div><img alt="" src="<TMPL_VAR NAME='PATH2MAIN'>/img/pr-002.png">
                    <p>Определить, насколько подходит направление, которое уже выбрано</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div><img alt="" src="<TMPL_VAR NAME='PATH2MAIN'>/img/img-01.png">
                    <p>Проверить реальный уровень подготовки к ЕГЭ и подтянуть знания</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <TMPL_VAR NAME='LNG_ThanksBlockButton' ESCAPE='none'>
    </div>
    <div class="col-md-4"></div>
</div>