<div class="col-md-12 top15">
    <TMPL_INCLUDE FILE='_navigation.html'/>
    <section class="box">
        <header class="panel_header">
            <h2 class="title"><TMPL_VAR NAME='LNG_List'></h2>
        </header>
        <div class="content-body">

            <form action="<TMPL_VAR NAME='MODULE_URL'>" id="item-list" method="post">
                <div class="col-md-6 no-padding form-group form-inline">
                    <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&ID=" class="btn btn-success btn-icon right15"><i class="fa fa-plus"></i><TMPL_VAR NAME='LNG_Add'></a>
                </div>
                <div class="col-md-6 no-padding form-group">
                    <ul class="pagination pagination pull-right">
                        <TMPL_VAR NAME='Paging' ESCAPE='none'>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <TMPL_IF NAME='ErrorList'>
                    <div class="alert alert-error"><TMPL_LOOP NAME='ErrorList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
                </TMPL_IF>
                <TMPL_IF NAME='MessageList'>
                    <div class="alert alert-success"><TMPL_LOOP NAME='MessageList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
                </TMPL_IF>
                <TMPL_IF NAME='CityList'>
                    <p><TMPL_VAR NAME='ListInfo'></p>
                    <table class="table" id="listing">
                        <thead>
                            <tr>
                                <th><TMPL_VAR NAME='LNG_Title' /></th>
                                <th><TMPL_VAR NAME='LNG_StaticPath' /></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <TMPL_LOOP NAME='CityList'>
                                <tr>
                                    <td>
                                        <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&ID=<TMPL_VAR NAME='ID' />">
                                            <TMPL_VAR NAME='Title' />
                                        </a>
                                    </td>

                                    <td>
                                        <TMPL_VAR NAME='StaticPath' />
                                    </td>

                                    <td>
                                        <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&Do=Remove&CityIds[]=<TMPL_VAR NAME='ID'>" title="<TMPL_VAR NAME='LNG_Remove'>" onclick="ConfirmRemove('<TMPL_VAR NAME='Title' ESCAPE='js'>', this); return false;"><i class="fa fa-close delete"></i></a>
                                    </td>
                                </tr>
                            </TMPL_LOOP>
                        </tbody>
                    </table>
                </TMPL_IF>
            </form>
            
        </div>
    </section>
</div>

<script>
    function ConfirmRemove(title, a) {
        var msg = '<TMPL_VAR NAME='LNG_ConfirmRemove' ESCAPE='js'>';
        msg = msg.replace(/%Title%/g, title);
        ModalConfirm(msg, function(){
            window.location.href = $(a).attr('href');
        })
    }
</script>