<div class="col-md-12 top15">
	<TMPL_INCLUDE FILE='_navigation.html'>
	<section class="box">
		<header class="panel_header">
			<h2 class="title"><TMPL_VAR NAME='LNG_EditDevice'></h2>
		</header>
		<div class="content-body">
			<form action="<TMPL_VAR NAME='MODULE_URL'>" method="post" name="item-form" enctype="multipart/form-data" autocomplete="off">
				<div class="row">
					<TMPL_IF NAME='ErrorList'>
						<div class="col-md-12">
							<div class="alert alert-error"><TMPL_LOOP NAME='ErrorList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
						</div>
					</TMPL_IF>
					<div class="col-md-12">
						<div class="form-group">
							<label for="DeviceID" class="form-label"><TMPL_VAR NAME='LNG_DeviceID'></label><br />
							<input class="form-control" type="text" name="DeviceID" id="DeviceID" readonly value="<TMPL_VAR NAME='DeviceID'>" />
						</div>
						<div class="form-group">
							<label for="Created" class="form-label"><TMPL_VAR NAME='LNG_Created'></label><br />
							<input class="form-control" type="text" name="Created" id="Created" readonly value="<TMPL_VAR NAME='Created'>" />
						</div>
						
					</div>
					<div class="col-md-12 top15">
						<button type="submit" class="btn btn-success btn-icon right15"><i class="fa fa-save"></i><TMPL_VAR NAME='LNG_Save'></button>
						<a class="btn btn-icon" href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>"><i class="fa fa-ban"></i><TMPL_VAR NAME='LNG_Cancel'></a>
					</div>
					<input type="hidden" name="Save" value="1" />
					<TMPL_VAR NAME='ParamsForForm' ESCAPE='none'>
				</div>
			</form>
		</div>
	</section>
</div>