<div class="col-md-12 top15">
    <TMPL_INCLUDE FILE='_navigation.html'/>
    <section class="box">
        <header class="panel_header">
            <h2 class="title"><TMPL_VAR NAME='LNG_ExhibitionList'></h2>
        </header>
        <div class="content-body">

            <form action="<TMPL_VAR NAME='MODULE_URL'>" id="item-list" method="post">
                <div class="col-md-6 no-padding form-group form-inline">
                    <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&ExhibitionID=" class="btn btn-success btn-icon right15"><i class="fa fa-plus"></i><TMPL_VAR NAME='LNG_Add'></a>
                </div>
                <div class="col-md-6 no-padding form-group">
                    <ul class="pagination pagination pull-right">
                        <TMPL_VAR NAME='Paging' ESCAPE='none'>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <TMPL_IF NAME='ErrorList'>
                    <div class="alert alert-error"><TMPL_LOOP NAME='ErrorList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
                </TMPL_IF>
                <TMPL_IF NAME='MessageList'>
                    <div class="alert alert-success"><TMPL_LOOP NAME='MessageList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
                </TMPL_IF>
                <TMPL_IF NAME='ExhibitionList'>
                    <p><TMPL_VAR NAME='ListInfo'></p>
                    <table class="table" id="listing">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><TMPL_VAR NAME='LNG_Title' /></th>
                                <th><TMPL_VAR NAME='LNG_Period' /></th>
                                <th><TMPL_VAR NAME='LNG_PhoneEmail' /></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <TMPL_LOOP NAME='ExhibitionList'>
                                <tr>
                                    <td><TMPL_VAR NAME="ExhibitionID" /></td>
                                    <td>
                                        <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&ExhibitionID=<TMPL_VAR NAME='ExhibitionID' />">
                                            <TMPL_VAR NAME='Title' /> <br>
                                            <small><TMPL_VAR NAME='Type' /></small>
                                        </a>
                                    </td>
                                    <td><TMPL_VAR NAME='DateFrom' FORMAT="date" /> - <TMPL_VAR NAME='DateTo' FORMAT="date" /></td>
                                    <td>
                                        <TMPL_VAR NAME='Phone' /> <TMPL_IF NAME="Phone"><TMPL_IF NAME="Email">, </TMPL_IF></TMPL_IF> 
                                        <TMPL_VAR NAME='Email' />
                                    </td>
                                    <td width="180">
                                        <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&ExhibitionID=<TMPL_VAR NAME='ExhibitionID' />&CityList=1">
                                            <TMPL_VAR NAME="LNG_CityList" />
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&Do=Remove&ListIDs[]=<TMPL_VAR NAME='ExhibitionID'>" title="<TMPL_VAR NAME='LNG_Remove'>" onclick="ConfirmRemove('<TMPL_VAR NAME='Title' ESCAPE='js'>', this); return false;"><i class="fa fa-close delete"></i></a>
                                    </td>
                                </tr>
                            </TMPL_LOOP>
                        </tbody>
                    </table>
                </TMPL_IF>
            </form>
            
        </div>
    </section>
</div>

<script>
    function ConfirmRemove(title, a) {
        var msg = '<TMPL_VAR NAME='LNG_ConfirmRemove' ESCAPE='js'>';
        msg = msg.replace(/%Title%/g, title);
        ModalConfirm(msg, function(){
            window.location.href = $(a).attr('href');
        })
    }
</script>