<div class="col-md-12 top15">
    <TMPL_INCLUDE FILE='_navigation.html'>
        <section class="box">
            <header class="panel_header">
                <TMPL_IF NAME='ID'>
                    <h2 class="title"><TMPL_VAR NAME='LNG_Edit'></h2>
                    <TMPL_ELSE>
                        <h2 class="title"><TMPL_VAR NAME='LNG_Add'></h2>
                </TMPL_IF>
            </header>
            <div class="content-body">
                <form action="<TMPL_VAR NAME='MODULE_URL'>" method="post" name="item-form" enctype="multipart/form-data" autocomplete="off">
                    <div class="row">
                        <TMPL_IF NAME='ErrorList'>
                            <div class="col-md-12">
                                <div class="alert alert-error"><TMPL_LOOP NAME='ErrorList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
                            </div>
                        </TMPL_IF>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required"><TMPL_VAR NAME='LNG_Title'></label><br />
                                <input class="form-control" name="Title" value="<TMPL_VAR NAME='Title'/>">
                            </div>

                            <div class="form-group">
                                <label class="form-label"><TMPL_VAR NAME='LNG_AboutTitle'></label><br />
                                <input class="form-control" name="AboutTitle" value="<TMPL_VAR NAME='AboutTitle'/>">
                            </div>

                            <div class="form-group">
                                <label class="form-label required"><TMPL_VAR NAME='LNG_University'></label><br />
                                <select class="form-control" name="UniversityID" required>
                                    <TMPL_LOOP NAME='UniversityList'>
                                        <option value="<TMPL_VAR NAME='UniversityID'>"<TMPL_IF NAME='Selected'> selected</TMPL_IF>><TMPL_VAR NAME='Title'></option>
                                    </TMPL_LOOP>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label required"><TMPL_VAR NAME='LNG_YouTubeUrl'></label><br />
                                <input class="form-control" name="YouTubeUrl" value="<TMPL_VAR NAME='YouTubeUrl'/>">
                            </div>

                            <div class="form-group">
                                <label class="form-label required"><TMPL_VAR NAME='LNG_OnlineEvent'></label><br />
                                <select class="selectpicker" name="OnlineEventIDs[]" multiple>
                                    <TMPL_LOOP NAME='OnlineEventList'>
                                        <option value="<TMPL_VAR NAME='Id'>"<TMPL_IF NAME='Selected'> selected</TMPL_IF>><TMPL_VAR NAME='Name'></option>
                                    </TMPL_LOOP>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label"><TMPL_VAR NAME='LNG_Description'></label><br />
                                <textarea name="Description" id="Description" cols="30" rows="10"><TMPL_VAR NAME='Description'/></textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label"><TMPL_VAR NAME='LNG_QuestionTitle'></label><br />
                                <input class="form-control" name="QuestionTitle" value="<TMPL_VAR NAME='QuestionTitle'/>">
                            </div>

                            <div class="form-group">
                                <label class="form-label"><TMPL_VAR NAME='LNG_Attachment'></label><br />
                                <input class="form-control" name="AttachmentUrl" value="<TMPL_VAR NAME='AttachmentUrl'/>">
                            </div>

                            <div class="form-group">
                                <label class="form-label"><TMPL_VAR NAME='LNG_UniversityWebsiteUrl'></label><br />
                                <input class="form-control" name="UniversityWebsiteUrl" value="<TMPL_VAR NAME='UniversityWebsiteUrl'/>">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id="MainImage-box">
                                <label>Изображение (работает только "изменить")</label><br />
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    params = new Array();
                                <TMPL_LOOP NAME='ParticipantImageParamList'>
                                        params.push({
                                            "Name" : "<TMPL_VAR NAME='SourceName'>",
                                            "Width" : "<TMPL_VAR NAME='Width'>",
                                            "Height" : "<TMPL_VAR NAME='Height'>",
                                            "Resize" : "<TMPL_VAR NAME='Resize'>",
                                            "X1" : "<TMPL_VAR NAME='X1'>",
                                            "X2" : "<TMPL_VAR NAME='X2'>",
                                            "Y1" : "<TMPL_VAR NAME='Y1'>",
                                            "Y2" : "<TMPL_VAR NAME='Y2'>"
                                        });
                                </TMPL_LOOP>
                                    CreateImageInput('MainImage', '<TMPL_VAR NAME='ImageListPath'>', '<TMPL_VAR NAME='ImageListPath'>', '<TMPL_VAR NAME='MainImage'>', '<TMPL_VAR NAME='ID'>', 'RemoveParticipantImage', '<TMPL_VAR NAME='MODULE_PATH'>ajax.php', 0, params);
                                });
                            </script>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-12 top15">
                            <button type="submit" class="btn btn-success btn-icon right15"><i class="fa fa-save"></i><TMPL_VAR NAME='LNG_Save'></button>
                            <a class="btn btn-icon" href="<TMPL_VAR NAME='MODULE_URL'>&Section=&Section=online_exhibition&ExhibitionID=<TMPL_VAR NAME='OnlineExhibitionID'/>&ParticipantList=true"><i class="fa fa-ban"></i><TMPL_VAR NAME='LNG_Cancel'></a>
                        </div>
                        <input type="hidden" name="Save" value="1" />
                        <input type="hidden" name="ParticipantID" value="<TMPL_VAR NAME='ID'>" />
                        <input type="hidden" name="ExhibitionID" value="<TMPL_VAR NAME='ExhibitionID'>" />
                        <input type="hidden" name="Section" value="online_exhibition">
                    </div>
                </form>
            </div>
        </section>
</div>

<script>
    createCKEditor('Description');
</script>