<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">
            <TMPL_IF NAME='BoxTitle'>
                <TMPL_VAR NAME='BoxTitle'>
                    <TMPL_ELSE>
                        <TMPL_VAR NAME='PageTitle'>
            </TMPL_IF>
        </h2>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">
                <form action="<TMPL_VAR NAME='MODULE_URL'>" method="post" name="item-form" enctype="multipart/form-data" autocomplete="off">
                    <div class="row">
                        <TMPL_IF NAME='ErrorList'>
                            <div class="col-md-12">
                                <div class="alert alert-error"><TMPL_LOOP NAME='ErrorList'><TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS></TMPL_LOOP></div>
                            </div>
                        </TMPL_IF>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div id="ItemImage-box">
                                    <label for="ItemImage"><TMPL_VAR NAME='LNG_Image'></label><br />
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        params = new Array();
                                    <TMPL_LOOP NAME='ItemImageParamList'>
                                            params.push({
                                                "Name" : "<TMPL_VAR NAME='SourceName'>",
                                                "Width" : "<TMPL_VAR NAME='Width'>",
                                                "Height" : "<TMPL_VAR NAME='Height'>",
                                                "Resize" : "<TMPL_VAR NAME='Resize'>",
                                                "X1" : "<TMPL_VAR NAME='X1'>",
                                                "X2" : "<TMPL_VAR NAME='X2'>",
                                                "Y1" : "<TMPL_VAR NAME='Y1'>",
                                                "Y2" : "<TMPL_VAR NAME='Y2'>"
                                            });
                                    </TMPL_LOOP>
                                        CreateImageInput('ItemImage', '<TMPL_VAR NAME='ItemImageAdminPath'>', '<TMPL_VAR NAME='ItemImageFullPath'>', '<TMPL_VAR NAME='ItemImage'>', '<TMPL_VAR NAME='ItemID'>', 'RemoveItemImage', '<TMPL_VAR NAME='MODULE_PATH'>ajax.php', 0, params);
                                    });
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="Name" class="form-label required">Название ссылки для аналитики (латиницей)</label><br />
                                <input class="form-control" type="text" name="Name" id="Name" value="<TMPL_VAR NAME='Name'>" required/>
                            </div>
                            <div class="form-group">
                                <label for="Link" class="form-label required">Ссылка</label><br />
                                <input class="form-control" type="text" name="Link" id="Link" value="<TMPL_VAR NAME='Link'>" required/>
                            </div>

                            <label for="Link" class="form-label">Показывать на страницах:</label><br />
                            <table id="page-list" width="100%" style="border: 1px solid #ccc; border-collapse: separate; border-spacing: 10px">
                                <tbody>
                                <TMPL_LOOP NAME="PageList">
                                    <tr>
                                        <td style="display:flex">
                                            <span style="white-space: nowrap"><TMPL_VAR NAME="URL_PREFIX"></span><input type="text" name="PageListStaticPath[]" class="form-control" value="<TMPL_VAR NAME='StaticPath' />"> <br>
                                            <input type="hidden" name="PageListPageId[]" value="<TMPL_VAR NAME='PageID' />">
                                        </td>
                                        <td width="30px">
                                            <a href="#" onclick="$(this).closest('tr').remove(); return false;"><i class="fa fa-close delete"></i></a>
                                        </td>
                                    </tr>
                                </TMPL_LOOP>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>
                                        <input type="button" value="Добавить страницу" onclick="addBannerItemPage()" class="btn">
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>

                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label for="Active">Активный</label><br />
                                    <input type="checkbox" name="Active" id="Active" value="Y" class="iswitch iswitch-md iswitch-primary" <TMPL_IF NAME='Active' VALUE='Y'>checked<TMPL_ELSEIF NAME='Active' VALUE='N'><TMPL_ELSE>checked</TMPL_IF> />
                                </div>

                                <div class="form-group">
                                    <label class="form-label required">Период</label><br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control datetimepicker" type="text" name="PeriodFrom" id="PeriodFrom" value="<TMPL_VAR NAME='PeriodFrom' FORMAT='datetimepicker'>" />
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control datetimepicker" type="text" name="PeriodTo" id="PeriodTo" value="<TMPL_VAR NAME='PeriodTo' FORMAT='datetimepicker'>" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 top15">
                            <button type="submit" class="btn btn-success btn-icon right15"><i class="fa fa-save"></i><TMPL_VAR NAME='LNG_Save'></button>
                            <a class="btn btn-icon" href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&ItemListByBannerID=<TMPL_VAR NAME='BannerID'>"><i class="fa fa-ban"></i><TMPL_VAR NAME='LNG_Cancel'></a>
                        </div>
                        <input type="hidden" name="Action" value="Save" />
                        <input type="hidden" name="ItemID" value="<TMPL_VAR NAME='ItemID'>" />
                        <input type="hidden" name="BannerID" value="<TMPL_VAR NAME='BannerID'>" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function addBannerItemPage() {
        var row = '<tr>' +
            '    <td style="display:flex">' +
            '        <span style="white-space: nowrap"><TMPL_VAR NAME="URL_PREFIX"></span><input type="text" name="PageListStaticPath[]" class="form-control" value=""> <br>' +
            '        <input type="hidden" name="PageListPageId[]" value="">' +
            '    </td>' +
            '    <td width="30px">' +
            '       <a href="#" onclick="$(this).closest(\'tr\').remove(); return false;" class="remove-tr"><i class="fa fa-close delete"></i></a>' +
            '    </td>' +
            '</tr>';
        $('#page-list tbody').append(row);
    }
</script>